<div class="ui mini menu">
  <header class="header item"> <a href="/"> Home </a> </header>

  <div class="right menu">

    <div class="item">
      <a id="home"   class= "item" href="/home"> Dashboard </a>
      <a id="report" class= "item" href="/report"> POIs </a>
      <a id="settings" class= "item" href="/settings"> Settings</a>
      <a id="logout" class= "item" href="/logout"> Logout</a>
    </div>
  </div>
</div>
<script>
  $("#${_id}").addClass("active item");
</script>