
<div class="ui mini menu">
  <header class="header item"> <a href="/"> Home </a> </header>

  <div class="right menu">

    <div class="item">
      <a class="item" href="/signup"> Signup</a>
      <a class="item" href="/login">  Login</a>
    </div>
  </div>
</div>