{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h3>
    Point of Interest App
  </h3>
  <p>
    A place where you can find all you love
  </p>
  <p>
    Signup or login
  </p>
</section>